[core]
	excludesfile = ~/.gitignore
	editor = code --wait
	ignorecase = false
[push]
  default = simple
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto
[alias]
  amend = commit --amend --no-edit
  open = "!hub browse"

[hub]
  protocol = https
[github]
	user = CofCat456
[user]
	name = CofCat456
	email = a25690756@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[credential]
	helper = osxkeychain
[pull]
	rebase = true
